@import "reset";
@import "variables";
@import "mixins";
@import "typography";
@import "global";
@import "header";
@import "menu";
@import "hero";
@import "achievement";
@import "advice";
@import "about";
@import "client";
@import "subscribe";
@import "contact";
@import "footer";


.text{
    background: green;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }